<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Home</title>
</head>
<body>
    <h1>Welcome To Home Page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam fugiat similique aliquam, perspiciatis ex itaque deserunt nobis labore suscipit neque quidem nisi sunt commodi veritatis laboriosam quae facere iste debitis!</p>



    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>